<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entry</title>
    <link href="/styles/main.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quintessential&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
</head>
<body>
     <div class="title-container">
        <div class="rose-left-container">
            <img class="rose" id="left" src="/images/Rose1.png" alt="roses"> 
        </div>
        <form class="new-entry-form" <% if (locals.editedBook) { %> action="/edit"<% } else { %> action="/post"<% } %> method="POST">
            <div class="book-container">
                <div class="book-container-page-grid">  
                    <div class="input-container" id="bookname-div">
                        <h2 class="quintessential-regular">Book Name: </h2>
                        <% if (locals.book) {%>
                            <p class="quintessential-regular"><%=book.name%></p>
                        <% } else { %>
                            <input type="text" name="bookname"class="small-input" required <% if (locals.editedBook) { %> value="<%=editedBook.name%>"<% } %>>
                            <% } %> 
                    </div>
                    <div class="input-container" id="ISBN-div">
                        <h2 class="quintessential-regular">ISBN-13: </h2>
                        <% if (locals.book) {%>
                            <p class="quintessential-regular"><%=book.isbn%></p>
                        <% } else { %>
                            <input type="text" name="bookisbn" class="small-input" required <% if (locals.editedBook) { %> value="<%=editedBook.isbn%>"<% } %>>
                            <% } %> 
                    </div>
                    <div class="input-container" id="rating-div">
                        <h2 class="quintessential-regular">Rating: </h2>
                        <% if (locals.book) {%>
                            <% const rating = book.rating; %>
                            <% for (let i=0; i < rating; i++) {%>
                                <span class="fa fa-star checked"></span>
                                <% } %>
                            <% for (let i=0; i < 5-rating; i++) { %>
                                <span class="fa fa-star"></span>
                            <% } %>
                        <% } else if (locals.editedBook ) { %>
                            <input type="hidden" name="bookrating" id="ratingInput" value="<%=editedBook.rating%>">
                            <% for (i=1; i < editedBook.rating+1; i++) { %>
                                <span class="fa fa-star checked" id="<%=i%>" value="<%=i%>"></span>
                            <% } %>
                            <% for (i=editedBook.rating+1; i < 6; i++) { %>
                                <span class="fa fa-star" id="<%=i%>" value="<%=i%>"></span>
                            <% } %>
                        <% } else { %>
                             <input type="hidden" name="bookrating" id="ratingInput" value="0">
                            <% for (i=1; i < 6; i++) { %>
                                <span class="fa fa-star" id="<%=i%>" value="<%=i%>"></span>
                            <% } %>
                        <% } %>
                        
                    </div>
                    <% if (!locals.book && !locals.editedBook) { %>
                        <script>
                            function addClass(star) {
                                star.classList.add("checked");
                            }
                            function removeClass(star) {
                                star.classList.remove("checked");
                            }

                            let starId = null;
                            let selected = false;

                            for (let i=1; i < 6; i++) {
                                let star = document.getElementById(`${i}`);
                                star.addEventListener("mouseover", function (event){
                                    if (selected == true) return;
                                    starId = Number(event.target.id);
                                    for (let i=1; i <= starId; i++){
                                        let starIdString = `${i}`;
                                        star = document.getElementById(starIdString);
                                        addClass(star);
                                    }
                                });
                                star.addEventListener("mouseout", function (event){
                                    if (selected == true) return;
                                    for (let i=1; i < 6; i++) {
                                        star = document.getElementById(`${i}`);
                                        removeClass(star);
                                    }

                                });
                                star.addEventListener("click", function (event) {
                                    starId = Number(event.target.id);
                                    document.getElementById("ratingInput").value = starId;
                                    selected = true;
                                    for (let i=1; i <= starId; i++){
                                        let starIdString = `${i}`;
                                        star = document.getElementById(starIdString);
                                        addClass(star);

                                        for (let j=starId+1; j<6; j++) {
                                            let removeStarIdString = `${j}`;
                                            star = document.getElementById(removeStarIdString);
                                            removeClass(star);
                                        }
                                    }
                                    selected = true;
                                    
                                });

                            }      
                        </script>
                    <% } %>
                    <% if (locals.editedBook) { %>
                        <script>
                            function addClass(star) {
                                star.classList.add("checked");
                            }
                            function removeClass(star) {
                                star.classList.remove("checked");
                            }

                            let starId = null;
                            let selected = false;

                            for (let i=1; i < 6; i++) {
                                let star = document.getElementById(`${i}`);
                                star.addEventListener("click", function (event) {
                                    starId = Number(event.target.id);
                                    document.getElementById("ratingInput").value = starId;
                                    selected = true;
                                    for (let i=1; i <= starId; i++){
                                        let starIdString = `${i}`;
                                        star = document.getElementById(starIdString);
                                        addClass(star);

                                        for (let j=starId+1; j<6; j++) {
                                            let removeStarIdString = `${j}`;
                                            star = document.getElementById(removeStarIdString);
                                            removeClass(star);
                                        }
                                    }
                                    selected = true;
                                    
                                });

                            }      
                        </script>
                    <% }%>
                    <div class="input-container" id="date-div">
                        <h2 class="quintessential-regular">Date Completed: </h2>
                        <% if (locals.book) {%>
                            <p class="quintessential-regular"><%=book.completed_date.toISOString().slice(0, 10);%></p>
                        <% } else { %>
                            <% let formattedDate = ""; %>
                            <% if (locals.editedBook) {%>
                                <% const isoDate = editedBook.completed_date%>
                                <% const dateObj = new Date(isoDate); %>
                                <% const formattedDate = dateObj.toISOString().slice(0, 10); %>
                               <input type="date" name="bookdate"class="small-input" required value=<%=formattedDate%>>
                            <% } else { %>
                                <input type="date" name="bookdate"class="small-input" required>
                                <% } %>

                            
                            
                            <% } %> 
                    </div>
                    <% if (locals.book) {%>
                            <div class="book-display-image-entry" id="book-image-entry">
                                <img id ="book-cover" src="https://covers.openlibrary.org/b/isbn/<%=book.isbn%>-M.jpg" />
                            </div>
                    <% } %>
                </div>
                <div class="book-container-page">
                    <h2 class="quintessential-regular" id="notes-header">Important Notes </h2>
                    <% if (locals.book) {%>
                            <p class="quintessential-regular"><%=book.notes%></p>
                        <% } else { %>
                            <textarea id="input" name="booknotes" class="large-input" ><% if (locals.editedBook) { %> <%=editedBook.notes%> <% } %></textarea>
                            <% } %> 
                    
                </div>
            </div>
            <% if (locals.editedBook) { %>
                <input type="hidden" name="bookid" value="<%=editedBook.id%>">
            <% } %>
            <div class="buttons-row">
                    <a class="link-button a" <% if (locals.book) { %> href="/library" <% } else if (locals.editedBook) { %> href="/book?id=<%=editedBook.id%>" <%} else { %> href="/" <% } %> >Back</a>
                    <% if (locals.editedBook) { %>
                        <a class="link-button a" href="/delete?id=<%=editedBook.id%>">Delete</a>
                     <% } %>
                    <% if (locals.book) { %> <a class="link-button a" href="/edit?id=<%=book.id%>">Edit</a> <% } else { %> <button type="submit" id="submit">Submit</button> <%} %>
                </div>
        </form>
        <div class="rose-right-container">
            <img class="rose" id="right" src="/images/Rose2.png" alt="roses"> 
        </div>
        </div>
    </div>
</body>
</html>